*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(45deg, rgb(232, 132, 101) 16%, rgb(17, 134, 138) 91%);
}
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5, 100px);
}

.calculator-grid button{
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(245, 253, 255, 0.75);
}
.calculator-grid button:hover {
    background-color: rgb(255, 255, 255);
}

.span-two {
    grid-column: span 2;
}

.output{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
   
}
.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
 }

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}
.colour{
    background:linear-gradient(45deg, rgb(171, 232, 255) 16%, rgb(184, 249, 255) 91%);
    
}
.colour:hover{
    background:linear-gradient(45deg, rgb(255, 255, 255) 16%, rgb(0, 187, 255) 91%);
    
}
#test{
    background:linear-gradient(45deg, rgb(154, 118, 202) 16%, rgb(241, 106, 106) 91%);
}
#test:hover{
    background:linear-gradient(45deg, rgb(247, 20, 221) 16%, rgb(255, 0, 0) 91%);
}